@charset "UTF-8";
@font-face {
  font-family: 'Calibre';
  src: url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Thin.woff") format("woff"), url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Thin.woff2") format("woff2"), url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Thin.eot") format("eot");
  font-weight: 200; }

@font-face {
  font-family: 'Calibre';
  src: url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Light.woff") format("woff"), url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Light.woff2") format("woff2"), url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Light.eot") format("eot");
  font-weight: 300; }

@font-face {
  font-family: 'Calibre';
  src: url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Regular.woff") format("woff"), url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Regular.woff2") format("woff2"), url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Regular.eot") format("eot");
  font-weight: 400; }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, .common-widget-title, .price-value, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, .subtitle, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  font-family: 'Calibre'!important; }

.info-boxes .price-value .ng-star-inserted {
  font-family: 'Calibre'!important; }

.mdl-dialog__content .body-wrap.has-actions {
  min-height: 100%!important; }

.users-list .wrap-table .table-extended .table-extended-content .table-wrap .table-container .wrap-table-inner .mdl-data-table tbody tr td.td-status .status-state i {
  font-size: 16px!important; }

.router-outlet:not(.direction-rtl) .tile-wrapper .mdl-card .tile-bg .demo-card-image .type-box, .tile-wrapper:not(.horizontal-card) .subtitle-box .language .truncated-text, .horizontal-tile-group-wrapper section.items-wrapper .tile-wrapper.horizontal-card .tile-supporting-text .subtitle-boxes .language div, .tile-wrapper .mdl-card .tile-supporting-text .subtitle-box .component-language {
  display: none!important; }

.global-search-wrapper .input-wrapper .search-button-wrapper i {
  line-height: 36px!important; }

.router-outlet:not(.direction-rtl) #page-title__wrapper .legacy-wrapped-title .seven-header-page-title .header-icon {
  line-height: 37px!important; }

.header-icons {
  font-size: 22px!important; }

.text-grey-dark, .text-hover-grey-dark, line-limiter .content-wrap:not(.expanded-wrapper) .content.ellipsis, .calendar-view-title-formatted, .mdl-ripple, .mdl-ripple .is-animating, .ng-tns-c1-35, .menu-title, .button-text, .global-search-wrapper .input-wrapper input, .router-outlet:not(.direction-rtl) .button-dropdown-wrapper .dropdown-button .title-wrap .title, .text-positive-green {
  font-family: 'Calibre'!important; }

.zmdi {
  font: normal normal normal 22px/1 Material-Design-Iconic-Font!important; }

.course-head-content .course-info .text-capitalize {
  display: none!important; }

.wrap-icons .panel-icons .zmdi-help {
  line-height: 52px!important; }

.wrap-icons .panel-icons .dropdown-button i.zmdi-comments {
  margin-top: 3px!important; }

.wrap-icons .panel-icons .dropdown-button i {
  font-size: 20px!important; }

.admin-menu_wrap .buttons-row .admin-buttons .icon-button {
  font-size: 22px!important;
  top: 7px!important; }

html, body {
  font-family: 'Calibre'!important;
  font-weight: 300!important; }

html .text-main {
  /*Couleur principale du texte*/
  color: black!important; }

html .text-hover-main:hover {
  /*Mettre le hover du sous-menu en rouge*/
  color: #ef8881!important; }

.page-content:not(.seven-header-one-line-present) div.common-widget-title {
  /*Épaisseur des titres*/
  font-weight: 400!important; }

@media (min-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(1).mdl-grid {
    margin: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(1).mdl-grid .mdl-cell.mdl-cell--12-col {
    width: 100%!important;
    margin: 0px!important; } }

@media (max-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(1).mdl-grid .mdl-cell.mdl-cell--12-col {
    width: 100%!important;
    margin: 0px!important; } }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(1) .common-widget-title {
  /*Ne pas afficher le titre du header*/
  display: none!important; }

@media (min-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid {
    margin: 0px!important; } }

@media (min-width: 1024px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) {
    /*écrans de + de 840px : enlever les margin et changer les tailles*/ }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell.mdl-cell--8-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell .mdl-cell--8-col-desktop {
      width: 60%!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell.mdl-cell--4-col {
      width: 40%!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell {
      margin: 0px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell.mdl-cell--12-col {
      width: 100%!important;
      margin: 0px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .mdl-grid {
      margin: 0px!important; } }

@media (min-width: 840px) and (max-width: 1024px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell.mdl-cell--8-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell .mdl-cell--8-col-desktop {
    width: 50%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell.mdl-cell--4-col {
    width: 50%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell.mdl-cell--12-col {
    width: 100%!important;
    margin: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell {
    margin: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .mdl-grid {
    margin: 0px!important; } }

@media (max-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell.mdl-cell--8-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell .mdl-cell--8-col-desktop {
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell.mdl-cell--4-col {
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell.mdl-cell--12-col {
    width: 100%!important;
    margin: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2).mdl-grid .mdl-cell {
    margin: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .mdl-grid {
    margin: 0px!important; } }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) {
  /* -- WIDGET CHANNELS -- */
  /* -- BLOC MES FORMATIONS ET MON CALENDRIER FORMATION -- */ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .widget-channels .header-holder #sorting-filters {
    height: 65px!important;
    max-height: 65px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .widget-channels .header-holder #sorting-filters #filters-holder, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .widget-channels .header-holder #sorting-filters .search-header-container, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .widget-channels .header-holder #sorting-filters .sort-filters {
      height: 65px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .widget-channels-content {
    margin-top: 9px!important;
    margin-bottom: 10px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .tilegroup-head {
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .duration-box {
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .tile-wrapper {
    width: 268px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .tile-wrapper:not(.horizontal-card).square .mdl-card {
    min-height: 260px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .channel-body .channels tile-group .ng-star-inserted .tilegroup-wrapper {
    padding-bottom: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper carousel-tile .carousel {
    height: 290px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper carousel-tile .slick-controllers .slick-button-next, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper carousel-tile .slick-controllers .slick-button-prev {
    height: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper carousel-tile .slick-slider-carousel {
    max-height: 290px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .slick-slider-carousel .tile-wrapper {
    margin-right: 15px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .tile-wrapper .mdl-card .tile-bg {
    display: block!important;
    height: 100%!important;
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .type-box {
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .info-boxes {
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .text-main {
    color: white!important;
    text-transform: uppercase!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .subtitle-boxes {
    color: white!important;
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) channels-tilegroup-wrapper .tile-supporting-text {
    position: absolute!important;
    bottom: 0!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-grid {
    padding: 0px!important;
    margin: 0px!important; }
  @media (min-width: 840px) {
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .ng-star-inserted .section-wrapper .mdl-grid {
      margin: 0px!important; } }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) div.demo-card-wide.mdl-card.mdl-shadow--2dp.ng-star-inserted {
    /*On supprime le padding des éléments du bloc*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .demo-card-wide .tile-bg {
    margin-right: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .demo-card-wide .type-box {
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) a.mdl-tabs__tab.text-grey-mid-permanent.text-hover-main.ng-star-inserted {
    /*Epaisseur des sous-parties du menu*/
    font-weight: 600!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs .tabs-head .tab-counter {
    /*Déplacement des boutons de notifications sur les éléments du menu*/
    font-size: 9px!important;
    position: absolute!important;
    top: 15px!important;
    padding: 0px 6px!important;
    border-radius: 50%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs__tab {
    /*Changement de la taille et des padding des boutons du sous-menu*/
    height: 50px!important;
    padding: 2px 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .table-actions {
    padding-right: 0px!important;
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .btn-ellipsis {
    position: relative!important;
    background: #f88!important;
    padding: 2px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .btn-ellipsis .btn-more {
      visibility: visible!important;
      opacity: 1!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs__tab-bar {
    max-width: calc(100% - 50px)!important;
    padding: 10px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .btn-ellipsis .btn-more:hover {
    background: transparent!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .btn-ellipsis .is-visible + .btn-more {
    background: transparent!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .btn-ellipsis .btn-more .zmdi {
    color: white!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs header {
    padding: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs .tabs-head .tab-ellipsis {
    padding: 0px!important;
    background-color: #f88!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    /*Mettre l'élément actif du sous-menu en rouge*/
    color: #ef8881!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs__tab .bg-error {
    background: #eee!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs__tab.is-active .bg-error {
    background: #ef8881!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs__tab:before {
    /*Déplacement du soulignement du bouton plus proche du titre*/
    height: 2px!important;
    bottom: 14px!important;
    background: #ef8881!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .mdl-tabs .tabs-head .tabs-header_element {
    /*Espacer les élements du sous-menu*/
    padding: 0px 20px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .router-outlet.direction-rtl .mdl-tabs.inline .tabs-head, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .router-outlet:not(.direction-rtl) .mdl-tabs.inline .tabs-head {
    padding: 12px 17px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) tile-supporting-content {
    /*--Boutons des cours Mes formations--*/
    /*Centrage vertical du texte de cours + augmentation de l'espace*/
    padding: 38px 35px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) tile-supporting-content .title-block {
    min-height: 0px!important;
    margin-bottom: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .tile-wrapper.horizontal-card:not(.learning-object) .demo-card-image {
    /*Enlever la petite bordure blanche sur chaque image de cours*/
    border: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(1) .horizontal-card .mdl-card .tile-bg .demo-card-image {
    min-height: 95px!important; }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) {
  /*-- PARTIE MON CALENDRIER FORMATION --*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widget-my-calendar .my-calendar-widget-content {
    /*Suppression de l'espace entre la barre de recherche et le calendrier*/
    margin-top: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widget-my-calendar .docebo-data-browser {
    min-height: 365px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-cell-row.cal-header, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .bg-main {
    /*Ajout de la couleur bleue sur le calendrier*/
    background: #89cfdd!important;
    border: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-day-cell {
    min-height: 23px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-days .cal-cell-row {
    height: 33px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number {
    height: 23px!important;
    width: 23px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    /*Changement de couleurs des dates en dehors du mois courant*/
    color: #bfe4eb!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widget-my-calendar .docebo-data-browser {
    /*Fond du widget calendrier*/
    background-color: #89cfdd!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widget-my-calendar .docebo-data-browser #sorting-filters #filters-holder, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widget-my-calendar .docebo-data-browser #sorting-filters .sort-filters {
    /*La barre supérieure est de couleur bleue*/
    background-color: #99dae7!important;
    color: white!important;
    border: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-data-browser #sorting-filters > div.search-header-container, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widgets-column-medium .docebo-data-browser #sorting-filters > div.search-header-container {
    /*La barre de recherche est d'un bleu légèrement différent*/
    background-color: #90d4e1!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-data-browser #sorting-filters .search-header-container .form-search .mdl-textfield__input {
    color: white!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-data-browser #sorting-filters .search-header-container /deep/ .search-label {
    color: white!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-data-browser #sorting-filters .search-header-container /deep/ .search-label :-ms-input-placeholder {
      color: white!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-data-browser #sorting-filters .search-header-container /deep/ .search-label ::placeholder {
      color: white!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .calendar-header-controls {
    background: #fff!important;
    height: 40px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .header-holder #sorting-filters {
    height: 65px!important;
    max-height: 65px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .header-holder #sorting-filters #filters-holder, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .header-holder #sorting-filters .search-header-container, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .header-holder #sorting-filters .sort-filters {
      height: 65px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .zmdi-filter-list:before, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-day-cell.cal-in-month .cal-day-number, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .header-holder #sorting-filters .sort-filters .sort-holder .dropdown-head .dropdown-title {
    /*Les jours du mois courant, les textes du widget et le bouton en haut à gauche sont mis en blanc*/
    color: white!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-cell-row.cal-header .cal-cell .cal-weekday-short, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widgets-column-inherit-half .docebo-calendar .cal-month-view .cal-cell-row.cal-header .cal-cell .cal-weekday-short {
    /*Les jours de la semaine sont blancs et en majuscule*/
    color: #fff!important;
    text-transform: uppercase!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widget-my-calendar .bottom-border {
    /*-Enlever la bordure grise séparant la barre de recherche et le calendrier-*/
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-year-selector {
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-data-browser #sorting-filters {
    /*Suppression de l'ombre portée sur la barre supérieure*/
    box-shadow: 0 0px 0px transparent!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-view-title {
    /*Date du calendrier sans padding et bordure*/
    padding: 0px!important;
    border: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-arrows {
    /*Mise des fleches de sélection du mois au centre vertical du calendrier*/
    border: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-arrows .calendar-arrow {
    position: absolute!important;
    top: 50%!important;
    z-index: 10!important;
    border: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .calendar-arrow-next {
    /*Le bouton 'Mois suivant' est dorénavant à droite du calendrier*/
    right: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .calendar-year-selector .dropdown-head .dropdown-title {
    /*Modifier la taille et l'espaçage de l'année du calendrier*/
    line-height: 19px!important;
    font-size: 14px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-year-selector .dropdown-wrapper .dropdown .dropdown-head {
    /*Modifier l'épaisseur de l'année*/
    font-weight: 700!important;
    padding: 0!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
    font-weight: 700!important;
    text-transform: uppercase!important;
    border: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-year-selector .dropdown-wrapper {
    /*Le bloc de l'année est plus petit*/
    min-width: 45px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .dropdown-head:after {
    /*Déplacement de la flèche à côté de l'année*/
    right: -10px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .back-to-today {
    /*Suppression du bouton 'Today'*/
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-export-button .export-show-button {
    /*Suppression du bouton 'Exporter'*/
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .zmdi-search {
    /*Mise de l'icône de recherche en blanc*/
    color: white!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-cell-row.cal-header, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widgets-column-medium .docebo-calendar .cal-month-view .cal-cell-row.cal-header {
    /*Ajout de padding, pour les jours du calendrier*/
    padding: 0px 60px 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number .cal-day-number-inner, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widgets-column-medium .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number .cal-day-number-inner {
    /*Les chiffres sont plus gras*/
    font-weight: 600!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-days {
    /*Ajout de padding pour le calendrier + adaptation de la hauteur du calendrier à celui du tableau 'Mes formations'*/
    padding: 0px 60px 10px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .docebo-calendar .cal-month-view .cal-days .cal-cell-row .cal-cell.cal-today .cal-day-number, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(2) .widget-render-column:nth-child(2) .widgets-column-medium .docebo-calendar .cal-month-view .cal-days .cal-cell-row .cal-cell.cal-today .cal-day-number {
    /*Le bouton du jour courant est dorénavant blanc et bleu*/
    background: #fff!important;
    color: #89cfdd!important; }

@media (min-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3).mdl-grid {
    margin: 0px!important; } }

@media (min-width: 480px) and (max-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1).mdl-cell.mdl-cell--4-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2).mdl-cell.mdl-cell--4-col {
    width: 50%!important;
    margin: 0!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .single-widget, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2) .single-widget {
    margin-bottom: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3) .common-widget-title {
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3).mdl-cell.mdl-cell--4-col {
    width: 100%!important;
    margin: 0!important; } }

@media (max-width: 480px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1).mdl-cell.mdl-cell--4-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2).mdl-cell.mdl-cell--4-col {
    width: 100%!important;
    margin: 0!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .single-widget, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2) .single-widget {
    margin-bottom: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2) .common-widget-title {
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3) .common-widget-title {
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3).mdl-cell.mdl-cell--4-col {
    width: 100%!important;
    margin: 0!important; } }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) {
  /*--PARTIE MON TABLEAU DE BORD--*/ }
  @media (min-width: 840px) {
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) {
      /*écrans de + de 840px : enlever les margin et changer les tailles*/ }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1).mdl-cell.mdl-cell--8-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .mdl-cell .mdl-cell--8-col-desktop {
        width: 60%!important; }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1).mdl-cell.mdl-cell--4-col {
        width: 40%!important; }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1).mdl-cell {
        margin: 0px!important; }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1).mdl-cell.mdl-cell--12-col {
        width: 100%!important;
        margin: 0px!important; }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1).mdl-grid {
        margin: 0px!important; } }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .widget-kpis .list-kpis li.col-1of1 {
    /*Les deux boutons sont côte à côte */
    width: 50%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .widget-kpis .list-kpis li.col-1of1:nth-child(1) {
    /*Changement de la couleur du bouton gauche*/
    background-color: #1eada5!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .widget-kpis .list-kpis li.col-1of1:nth-child(2) {
    /*Changement de la couleur du bouton droite*/
    background-color: #89cfdd!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .description-two-line-13fs-white:before {
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .widget-kpis .list-kpis li a > span small {
    /*On enlève le SAP "Boite à outils"*/
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .widget-kpis .list-kpis li a {
    /*Augmentation de la taille des boutons*/
    height: 290px!important;
    display: -ms-flexbox!important;
    display: flex!important;
    box-sizing: border-box!important;
    padding: 90px 25px!important;
    text-align: center!important;
    -ms-flex-direction: column!important;
        flex-direction: column!important;
    -ms-flex-flow: column-reverse!important;
        flex-flow: column-reverse!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .widget-kpis .list-kpis li a h5 {
    /*Le texte à l'intérieur des boutons est blanc*/
    position: relative!important;
    right: 0!important;
    left: 0!important;
    max-width: 100%!important;
    color: white!important;
    top: 0!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(1) .widget-kpis .list-kpis li a > span {
    /*Les chiffres sont en blanc*/
    color: white!important;
    font-weight: 600!important;
    margin-bottom: 25px!important;
    text-align: center!important;
    position: relative!important;
    right: 0!important;
    left: 0!important;
    top: 0!important;
    font-size: 45px!important;
    max-width: 100%!important; }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2) {
  /*-WIDGET COURSES-*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2) .common-widget-title {
    opacity: 0!important; }
  @media (min-width: 840px) {
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2) {
      /*écrans de + de 840px : enlever les margin et changer les tailles*/ }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2).mdl-cell.mdl-cell--8-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2) .mdl-cell .mdl-cell--8-col-desktop {
        width: 60%!important; }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2).mdl-cell.mdl-cell--4-col {
        width: 40%!important; }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2).mdl-cell {
        margin: 0px!important; }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2).mdl-cell.mdl-cell--12-col {
        width: 100%!important;
        margin: 0px!important; }
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2).mdl-grid {
        margin: 0px!important; } }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(2) .widget-activity.nonslide-widget {
    height: 290px!important;
    min-height: 290px!important; }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3) {
  /*BOUTON MON ACTIVITÉ*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3) .common-widget-title {
    opacity: 0!important; }
  @media (min-width: 840px) {
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3).mdl-cell.mdl-cell--4-col {
      /*Mettre*/
      width: 20%!important;
      height: 335px!important;
      min-height: 335px!important;
      margin: 0!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3).mdl-cell.mdl-cell--4-col .single-widget {
      height: 335px!important;
      min-height: 335px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3) .wrapper {
      height: 335px!important;
      min-height: 335px!important; } }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3) .titles-container {
    position: absolute!important;
    bottom: 50px!important;
    font-size: 14px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3) .title {
    font-size: 16px!important;
    font-weight: 600!important;
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3) .button {
    margin-top: 165px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(3) .widget-render-column:nth-child(3) .button button {
      background: none!important;
      border: 1px solid white!important; }

@media (max-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4).mdl-grid .mdl-cell.mdl-cell--8-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4).mdl-grid .mdl-cell .mdl-cell--8-col-desktop {
    width: 100%!important;
    margin: 0!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1).mdl-grid .mdl-cell {
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .single-widget {
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-bottom: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) {
    margin-left: 0px!important;
    margin-right: 0px!important;
    margin-bottom: 32px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) .common-widget-title {
      display: none!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2).mdl-cell.mdl-cell--4-col {
      width: 100%!important; } }

@media (min-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) {
    /*écrans de + de 840px : enlever les margin et changer les tailles*/ }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4).mdl-grid .mdl-cell.mdl-cell--8-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4).mdl-grid .mdl-cell .mdl-cell--8-col-desktop {
      width: 60%!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4).mdl-grid .mdl-cell.mdl-cell--4-col {
      width: 40%!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4).mdl-grid {
      margin: 0 0px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4).mdl-grid .mdl-cell {
      margin: 0px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4).mdl-grid .mdl-cell.mdl-cell--12-col {
      width: 100%!important;
      margin: 0px!important; } }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) {
  /*--NOTRE SELECTION DE FORMATIONS POUR VOUS--*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .single-widget {
    margin-right: 10px!important; }
    @media (max-width: 840px) {
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .single-widget {
        margin-right: 0px!important; } }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tilegroup-wrapper .tilegroup-head {
    /*Enlever le sous-titre Parcours Commercial*/
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tile-bg .demo-card-image .item-status-box {
    right: 0px!important;
    left: 25px!important;
    top: 140px!important;
    position: absolute!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tile-bg .demo-card-image .item-status-box span {
      background: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .catalog-widget-root .docebo-data-browser .full-width-header-container {
    /*Enlever la barre de recherche*/
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .carousel .slick-slider-carousel {
    /*Remettre les élements du carousel à la bonne taille*/
    width: 100%!important;
    min-height: 290px!important;
    max-height: 290px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .carousel .slick-slider-carousel .tile-wrapper {
    margin-right: 0px!important;
    margin-bottom: 0px!important;
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .carousel .slick-slider-carousel .tile-wrapper .mdl-card .tile-bg {
    height: 290px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .carousel .slick-slider-carousel .slick-list-draggable {
    /*3 éléments du carousel s'affichent*/
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .carousel .slick-slider-carousel .slick-slide {
    /*3 éléments du carousel s'affichent*/
    padding-right: 10px!important;
    width: 274px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tilegroup-wrapper {
    padding-bottom: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tile-wrapper .mdl-card .tile-bg .demo-card-image .type-box, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tile-wrapper .mdl-card .tile-supporting-text .subtitle-boxes {
    display: none!important;
    /*On enlève les termes 'Moderated' et 'Classroom'*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tile-wrapper:not(.horizontal-card).square .mdl-card {
    min-height: 290px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .docebo-calendar .calendar-header-controls .calendar-header-control {
    border: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tile-wrapper .mdl-card .tile-supporting-text .mdl-card__title .mdl-card__title-text a {
    /*Couleur du texte*/
    color: white!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tile-wrapper .mdl-card .price-value {
    display: -ms-flexbox!important;
    display: flex!important;
    width: -webkit-fit-content!important;
    width: -moz-fit-content!important;
    width: fit-content!important;
    border: 1px solid white!important;
    color: white!important;
    padding: 10px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tile-wrapper .mdl-card .price-value::after {
      margin-left: 10px!important;
      content: '\2192'!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .tile-wrapper .mdl-card .tile-supporting-text {
    padding: 30px!important;
    position: absolute!important;
    bottom: 0!important;
    background: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .carousel .slick-controllers .slick-button-next, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .carousel .slick-controllers .slick-button-prev {
    height: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(1) .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
    font-weight: 700!important;
    text-transform: uppercase!important; }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) {
  /*DECOUVREZ TOUS LES CATALOGUES DE FORMATION*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) .common-widget-title {
    /*Effacement du texte*/
    opacity: 0!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) .single-widget {
    margin: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) .background-content {
    /*Mise en page du widget avec le texte*/
    padding: 102px 70px 44px 70px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) .background-content .subtitle {
      color: white!important;
      font-size: 22px!important;
      width: 330px!important;
      font-weight: 400!important;
      line-height: normal!important; }
    @media (min-width: 840px) and (max-width: 1024px) {
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) .background-content {
        padding: 114px 50px 44px 40px!important; }
        .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) .background-content .subtitle {
          color: white!important;
          font-size: 18px!important;
          width: 300px!important;
          font-weight: 400!important;
          line-height: normal!important; } }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(4) .widget-render-column:nth-child(2) .background-content button {
      /*Modification de la couleur et forme du bouton*/
      background-color: transparent!important;
      border-radius: 0px!important;
      margin-top: 24px!important;
      color: white!important;
      border: 1px solid white!important; }

@media (max-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1).mdl-cell.mdl-cell--4-col {
    width: 100%!important;
    margin-left: 0px!important;
    margin-right: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) .single-widget {
    margin-bottom: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) .background-content .subtitle {
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2).mdl-cell.mdl-cell--8-col {
    width: 100%!important;
    margin-left: 0px!important;
    margin-right: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .common-widget-title {
    display: none!important; } }

@media (min-width: 840px) {
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5).mdl-grid {
    margin: 0px 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5).mdl-grid .mdl-cell.mdl-cell--8-col, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5).mdl-grid .mdl-cell .mdl-cell--8-col-desktop {
    width: 60%!important;
    margin: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5).mdl-grid .mdl-cell.mdl-cell--4-col {
    width: 40%!important;
    margin: 0px!important; } }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) {
  /*DECOUVREZ VOTRE PARCOURS MÉTIER*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) .background-content {
    /*Mise en page du widget avec le texte*/
    margin: 0px!important;
    padding: 0px 45px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) .background-content .subtitle {
      color: white!important;
      font-size: 22px!important;
      width: 330px!important;
      margin-bottom: 50px!important;
      font-weight: 400!important;
      line-height: normal!important; }
      @media (max-width: 840px) {
        .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) .background-content .subtitle {
          width: 100%!important; } }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) .background-content .button-container {
      margin-bottom: 30px!important; }
    @media (min-width: 840px) and (max-width: 1024px) {
      .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) .background-content {
        padding: 114px 50px 44px 40px!important; }
        .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) .background-content .subtitle {
          color: white!important;
          font-size: 18px!important;
          width: 330px!important;
          font-weight: 400!important;
          line-height: normal!important; } }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(1) .background-content button {
      /*Modification de la couleur et forme du bouton*/
      background-color: transparent!important;
      border-radius: 0px!important;
      margin-top: 24px!important;
      color: white!important;
      border: 1px solid white!important; }

.page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) {
  /*--NOTRE SELECTION DE FORMATIONS POUR VOUS--*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .common-widget-title {
    /*Effacement du texte*/
    opacity: 0!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tilegroup-wrapper .tilegroup-head {
    /*Enlever le sous-titre Parcours Commercial*/
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .catalog-widget-root .docebo-data-browser .full-width-header-container {
    /*Enlever la barre de recherche*/
    display: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .carousel .slick-slider-carousel {
    /*Remettre les élements du carousel à la bonne taille*/
    width: 100%!important;
    min-height: 290px!important;
    max-height: 290px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .carousel .slick-slider-carousel .tile-wrapper {
    margin-right: 0px!important;
    margin-bottom: 0px!important;
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .carousel .slick-slider-carousel .tile-wrapper .mdl-card .tile-bg {
    height: 290px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .carousel .slick-slider-carousel .slick-list-draggable {
    /*3 éléments du carousel s'affichent*/
    width: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .carousel .slick-slider-carousel .slick-slide {
    /*3 éléments du carousel s'affichent*/
    padding-left: 10px!important;
    width: 274px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tilegroup-wrapper {
    padding-bottom: 0px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tile-wrapper .mdl-card .tile-bg .demo-card-image .type-box, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tile-wrapper .mdl-card .tile-supporting-text .subtitle-boxes {
    display: none!important;
    /*On enlève les termes 'Moderated' et 'Classroom'*/ }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tile-wrapper:not(.horizontal-card).square .mdl-card {
    min-height: 290px!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tile-bg .demo-card-image .item-status-box {
    right: 0px!important;
    left: 25px!important;
    top: 140px!important;
    position: absolute!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tile-bg .demo-card-image .item-status-box span {
      background: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-header-control {
    border: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tile-wrapper .mdl-card .tile-supporting-text .mdl-card__title .mdl-card__title-text a {
    /*Couleur du texte*/
    color: white!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tile-wrapper .mdl-card .price-value {
    display: -ms-flexbox!important;
    display: flex!important;
    width: -webkit-fit-content!important;
    width: -moz-fit-content!important;
    width: fit-content!important;
    border: 1px solid white!important;
    color: white!important;
    padding: 10px!important; }
    .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tile-wrapper .mdl-card .price-value::after {
      margin-left: 10px!important;
      content: '\2192'!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .tile-wrapper .mdl-card .tile-supporting-text {
    padding: 30px!important;
    position: absolute!important;
    bottom: 0!important;
    background: none!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .carousel .slick-controllers .slick-button-next, .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .carousel .slick-controllers .slick-button-prev {
    height: 100%!important; }
  .page-content:not(.seven-header-one-line-present) .mdl-wrapper .widget-render-row:nth-child(5) .widget-render-column:nth-child(2) .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
    font-weight: 700!important;
    text-transform: uppercase!important; }
