@charset "UTF-8";
/*Couleur principale du texte*/
html .text-main {
  color: black!important; }

/*Épaisseur des titres*/
div.common-widget-title {
  font-weight: 400!important; }

/*-- PARTIE MES FORMATIONS --*/
/*On supprime le padding des éléments du bloc*/
div.demo-card-wide.mdl-card.mdl-shadow--2dp.ng-star-inserted {
  padding: 0!important; }

/*Epaisseur des sous-parties du menu*/
a.mdl-tabs__tab.text-grey-mid-permanent.text-hover-main.ng-star-inserted {
  font-weight: 600!important; }

/*On supprime le bouton 'Classroom'*/
div.type-box.bolded.ng-star-inserted {
  display: none!important; }

/*Déplacement des boutons de notifications sur les éléments du menu*/
.mdl-tabs .tabs-head .tab-counter {
  font-size: 9px!important;
  position: absolute!important;
  top: 15px!important;
  padding: 0px 6px!important;
  border-radius: 50%!important; }

/*Changement de la taille et des padding des boutons du sous-menu*/
.mdl-tabs__tab {
  height: 50px!important;
  padding: 2px 0px!important; }

/*Mettre l'élément actif du sous-menu en rouge*/
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: #ef8881!important; }

/*Mettre le hover du sous-menu en rouge*/
html .text-hover-main:hover {
  color: #ef8881!important; }

.mdl-tabs__tab .bg-error {
  background: #eee!important; }

.mdl-tabs__tab.is-active .bg-error {
  background: #ef8881!important; }

/*Déplacement du soulignement du bouton plus proche du titre*/
.mdl-tabs__tab:before {
  height: 2px!important;
  bottom: 14px!important;
  background: #ef8881!important; }

/*Espacer les élements du sous-menu*/
.mdl-tabs .tabs-head .tabs-header_element {
  padding: 0px 20px!important; }

.router-outlet.direction-rtl .mdl-tabs.inline .tabs-head, .router-outlet:not(.direction-rtl) .mdl-tabs.inline .tabs-head {
  padding: 12px 17px!important; }

/*--Boutons des cours Mes formations--*/
/*Centrage vertical du texte de cours + augmentation de l'espace*/
tile-supporting-content {
  padding: 30px 200px!important; }

tile-supporting-content .title-block {
  min-height: 0px!important;
  margin-bottom: 0px!important; }

/*Enlever la petite bordure blanche sur chaque image de cours*/
.tile-wrapper.horizontal-card:not(.learning-object) .demo-card-image {
  border: none!important; }

.horizontal-card .mdl-card .tile-bg .demo-card-image {
  min-height: 95px!important; }

/*écrans de + de 840px : enlever les margin et changer les tailles*/
@media (min-width: 840px) {
  .mdl-grid .mdl-cell.mdl-cell--8-col, .mdl-grid .mdl-cell .mdl-cell--8-col-desktop {
    width: 60%!important; }
  .mdl-grid .mdl-cell.mdl-cell--4-col {
    width: 40%!important; }
  .mdl-grid {
    margin: 0px!important; }
  .mdl-grid .mdl-cell {
    margin: 0px!important; }
  .mdl-grid .mdl-cell.mdl-cell--12-col {
    width: 100%!important;
    margin: 0px!important; } }

/*----*/
/*-- PARTIE MON CALENDRIER FORMATION --*/
/*Suppression de l'espace entre la barre de recherche et le calendrier*/
.widget-my-calendar .my-calendar-widget-content {
  margin-top: 0px!important; }

/*Ajout de la couleur bleue sur le calendrier*/
.docebo-calendar .cal-month-view .cal-cell-row.cal-header, .docebo-calendar .cal-month-view, .docebo-calendar .bg-main {
  background: #89cfdd!important;
  border: none!important; }

/*--Changement de couleurs des dates en dehors du mois courant--*/
.docebo-calendar .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
  color: #bfe4eb!important; }

/*La barre supérieure est de couleur bleue*/
.widget-my-calendar .docebo-data-browser #sorting-filters #filters-holder, .widget-my-calendar .docebo-data-browser #sorting-filters .sort-filters {
  background-color: #99dae7!important;
  color: white!important;
  border: none!important; }

/*idem*/
.widgets-column-inherit-medium .docebo-data-browser #sorting-filters > div.search-header-container, .widgets-column-medium .docebo-data-browser #sorting-filters > div.search-header-container {
  background-color: #90d4e1!important; }

.calendar-header-controls {
  background: #fff!important; }

/*Les jours du mois courant et le bouton en haut à gauche sont mis en blanc*/
.zmdi-filter-list:before, .docebo-calendar .cal-month-view .cal-day-cell.cal-in-month .cal-day-number {
  color: white!important; }

/*Couleur blanche pour les textes du widget*/
.header-holder #sorting-filters .sort-filters .sort-holder .dropdown-head .dropdown-title {
  color: white!important; }

/*Les jours de la semaine sont blancs et en majuscule*/
.widgets-column-half .docebo-calendar .cal-month-view .cal-cell-row.cal-header .cal-cell .cal-weekday-short, .widgets-column-inherit-half .docebo-calendar .cal-month-view .cal-cell-row.cal-header .cal-cell .cal-weekday-short {
  color: #fff!important;
  text-transform: uppercase!important; }

/*-Enlever la bordure grise séparant la barre de recherche et le calendrier-*/
.widget-my-calendar .bottom-border {
  display: none!important; }

.widgets-column-inherit-half .docebo-calendar .calendar-header-controls .calendar-year-selector {
  width: 100%!important; }

/*Suppression de l'ombre portée */
.pages-widget-page .widget-render .docebo-data-browser #sorting-filters {
  box-shadow: 0 0px 0px         transparent!important; }

/* - Date du calendrier - */
.docebo-calendar .calendar-header-controls .calendar-view-title {
  padding: 0px!important; }

/*Mise des fleches de sélection du mois au centre vertical du calendrier*/
.docebo-calendar .calendar-header-controls .calendar-arrows {
  border: none!important; }

.docebo-calendar .calendar-header-controls .calendar-arrows .calendar-arrow {
  position: absolute!important;
  top: 50%!important;
  z-index: 10!important;
  border: none!important; }

/*Le bouton 'Mois suivant' est dorénavent à droite du calendrier*/
.calendar-arrow-next {
  right: 0px!important; }

/*Modifier la taille et l'espaçage de l'année du calendrier*/
.calendar-year-selector .dropdown-head .dropdown-title {
  line-height: 19px!important;
  font-size: 14px!important; }

/*Modifier l'épaisseur de l'année*/
.docebo-calendar .calendar-header-controls .calendar-year-selector .dropdown-wrapper .dropdown .dropdown-head {
  font-weight: 700!important;
  padding: 0!important; }

/*Le mois de l'année est en gras et en majuscule*/
.widgets-column-small .docebo-calendar .calendar-header-controls .calendar-view-title {
  border: none!important; }

.widgets-column-small .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
  font-weight: 700!important;
  text-transform: uppercase!important;
  border: none!important; }

/*Le bloc de l'année est plus petit*/
.docebo-calendar .calendar-header-controls .calendar-year-selector .dropdown-wrapper {
  min-width: 45px!important; }

/*Déplacement de la flèche à côté de l'année*/
.router-outlet:not(.direction-rtl) .dropdown-head:after {
  right: -10px!important; }

/*Suppression du bouton 'Today'*/
.docebo-calendar .calendar-header-controls .back-to-today {
  display: none!important; }

/*Suppression du bouton 'Exporter'*/
.docebo-calendar .calendar-header-controls .calendar-export-button .export-show-button {
  display: none!important; }

/*Mise de l'icône de recherche en blanc*/
.zmdi-search {
  color: white!important; }

/*Ajout de padding, pour les jours du calendrier*/
.widgets-column-inherit-medium .docebo-calendar .cal-month-view .cal-cell-row.cal-header, .widgets-column-medium .docebo-calendar .cal-month-view .cal-cell-row.cal-header {
  padding: 0px 60px 0px!important; }

/*Les chiffres sont plus gras*/
.widgets-column-inherit-medium .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number .cal-day-number-inner, .widgets-column-medium .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number .cal-day-number-inner {
  font-weight: 600!important; }

/*Ajout de padding pour le calendrier + adaptation de la hauteur du calendrier à celui du tableau 'Mes formations'*/
.docebo-calendar .cal-month-view .cal-days {
  padding: 0px 60px 48px!important; }

/*Le bouton du jour courant est dorénavant blanc et bleu*/
.widgets-column-inherit-medium .docebo-calendar .cal-month-view .cal-days .cal-cell-row .cal-cell.cal-today .cal-day-number, .widgets-column-medium .docebo-calendar .cal-month-view .cal-days .cal-cell-row .cal-cell.cal-today .cal-day-number {
  background: #fff!important;
  color: #89cfdd!important; }

/*--PARTIE MON TABLEAU DE BORD--*/
@media (min-width: 840px) {
  .widget-render-column .mdl-cell .mdl-cell--4-col .widgets-column-small .widgets-column-inherit-medium .widgets-column-inherit-half .ng-star-inserted {
    width: 40%!important; } }

/*Les deux boutons sont côte à côte */
.widget-kpis .list-kpis li.col-1of1 {
  width: 50%!important; }

/*Changement de la couleur du bouton gauche*/
.widget-kpis .list-kpis li.col-1of1:nth-child(1) {
  background-color: #1eada5!important; }

/*Changement de la couleur du bouton droite*/
.widget-kpis .list-kpis li.col-1of1:nth-child(2) {
  background-color: #89cfdd!important; }

.description-two-line-13fs-white:before {
  display: none!important; }

/*On enlève le SAP "Boite à outils"*/
.widget-kpis .list-kpis lia > span small {
  display: none!important; }

/*Augmentation de la taille des boutons*/
.widget-kpis .list-kpis li a {
  height: 290px!important;
  display: -ms-flexbox!important;
  display: flex!important;
  box-sizing: border-box!important;
  padding: 90px 25px!important;
  text-align: center!important;
  -ms-flex-direction: column!important;
      flex-direction: column!important;
  -ms-flex-flow: column-reverse!important;
      flex-flow: column-reverse!important; }

/*Le texte à l'intérieur des boutons est blanc*/
.router-outlet:not(.direction-rtl) .widgets-column-inherit-half .widget-kpis .list-kpis li a h5 {
  position: relative!important;
  right: 0!important;
  left: 0!important;
  max-width: 100%!important;
  color: white!important;
  top: 0!important; }

/*Les chiffres sont en blanc*/
.router-outlet:not(.direction-rtl) .widgets-column-inherit-half .widget-kpis .list-kpis li a > span {
  color: white!important;
  font-weight: 600!important;
  margin-bottom: 25px!important;
  text-align: center!important;
  position: relative!important;
  right: 0!important;
  left: 0!important;
  top: 0!important;
  font-size: 45px!important;
  max-width: 100%!important; }

/*-WIDGET COURSES-*/
.widgets-column-small [_nghost-c28] .widget-activity.nonslide-widget[_ngcontent-c28] {
  height: 290px!important;
  min-height: 290px!important; }

/*MON ACTIVITÉ*/
@media (min-width: 840px) {
  .mdl-grid[_ngcontent-c27] .mdl-cell.mdl-cell--4-col:nth-child(3) {
    width: 20%!important;
    height: 290px!important;
    min-height: 290px!important; }
  .mdl-grid[_ngcontent-c27] .mdl-cell.mdl-cell--4-col:nth-child(3) .single-widget {
    height: 290px!important;
    min-height: 290px!important; }
  .wrapper[_ngcontent-c27] {
    height: 290px!important; } }

.titles-container[_ngcontent-c40] {
  position: absolute!important;
  bottom: 50px!important;
  font-size: 14px!important; }

.title[_ngcontent-c40] {
  font-size: 16px!important;
  font-weight: 600!important; }

/*--NOTRE SELECTION DE FORMATIONS POUR VOUS--*/
.carousel[_ngcontent-c27] .slick-slider-carousel[_ngcontent-c27] {
  min-height: 200px!important; }

/*Enlever le sous-titre Parcours Commercial*/
.router-outlet:not(.direction-rtl) .tilegroup-wrapper .tilegroup-head {
  display: none!important; }

/*Enlever la barre de recherche*/
.catalog-widget-root .docebo-data-browser .full-width-header-container {
  display: none!important; }

.carousel .slick-slider-carousel {
  width: 100%!important; }

.carousel .slick-slider-carousel .tile-wrapper {
  margin-right: 0px!important;
  margin-bottom: 0px!important;
  width: 100%!important; }

.carousel .slick-slider-carousel .tile-wrapper .mdl-card .tile-bg {
  height: 320px!important; }

.carousel[_ngcontent-c43] .slick-slider-carousel[_ngcontent-c43] *[_ngcontent-c43] {
  width: 33.3%!important; }

.tilegroup-wrapper {
  padding-bottom: 0px!important; }

.router-outlet:not(.direction-rtl) .tile-wrapper .mdl-card .tile-bg .demo-card-image .item-status-box {
  display: none!important; }

.docebo-calendar .calendar-header-controls .calendar-header-control {
  border: none!important; }

/*Couleur du texte*/
.tile-wrapper .mdl-card .tile-supporting-text .mdl-card__title .mdl-card__title-text a {
  color: white!important; }

.router-outlet:not(.direction-rtl) .tile-wrapper .mdl-card .tile-supporting-text .subtitle-boxes {
  display: none!important; }

.tile-wrapper .mdl-card .price-value {
  border: 1px solid white!important;
  color: white!important;
  padding: 10px!important; }

.tile-wrapper .mdl-card .tile-supporting-text {
  padding: 30px!important;
  position: absolute!important;
  bottom: 0!important;
  background: none!important; }

.carousel .slick-slider-carousel .slick-track {
  width: 100%!important; }

.widgets-column-small .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
  font-weight: 700!important;
  text-transform: uppercase!important; }
