//BACKUP
/*Couleur principale du texte*/

html .text-main {
    color: black;
}

/*Épaisseur des titres*/

div.common-widget-title {
    font-weight: 400;
}

/*-- PARTIE MES FORMATIONS --*/

/*On supprime le padding des éléments du bloc*/

div.demo-card-wide.mdl-card.mdl-shadow--2dp.ng-star-inserted {
    padding: 0;
}

/*Epaisseur des sous-parties du menu*/

a.mdl-tabs__tab.text-grey-mid-permanent.text-hover-main.ng-star-inserted {
    font-weight: 600;
}

/*On supprime le bouton 'Classroom'*/

div.type-box.bolded.ng-star-inserted {
    display: none;
}

/*Déplacement des boutons de notifications sur les éléments du menu*/

.mdl-tabs .tabs-head .tab-counter {
    font-size: 9px;
    position: absolute;
    top: 15px;
    padding: 0px 6px;
    border-radius: 50%;
}

/*Changement de la taille et des padding des boutons du sous-menu*/

.mdl-tabs__tab {
    height: 50px;
    padding: 2px 0px;
}

/*Mettre l'élément actif du sous-menu en rouge*/

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    color: #ef8881;
}

/*Mettre le hover du sous-menu en rouge*/

html .text-hover-main:hover {
    color: #ef8881;
}

.mdl-tabs__tab .bg-error {
    background: #eee;
}

.mdl-tabs__tab.is-active .bg-error {
    background: #ef8881;
}

/*Déplacement du soulignement du bouton plus proche du titre*/

.mdl-tabs__tab:before {
    height: 2px;
    bottom: 14px;
    background: #ef8881;
}

/*Espacer les élements du sous-menu*/

.mdl-tabs .tabs-head .tabs-header_element {
    padding: 0px 20px;
}

.router-outlet.direction-rtl .mdl-tabs.inline .tabs-head, .router-outlet:not(.direction-rtl) .mdl-tabs.inline .tabs-head {
    padding: 12px 17px;
}

/*--Boutons des cours Mes formations--*/

/*Centrage vertical du texte de cours + augmentation de l'espace*/

tile-supporting-content {
    padding: 30px 200px;
}

tile-supporting-content .title-block {
    min-height: 0px;
    margin-bottom: 0px;
}

/*Enlever la petite bordure blanche sur chaque image de cours*/

.tile-wrapper.horizontal-card:not(.learning-object) .demo-card-image {
    border: none;
}

.horizontal-card .mdl-card .tile-bg .demo-card-image {
    min-height: 95px;
}

/*écrans de + de 840px : enlever les margin et changer les tailles*/

@media  (min-width: 840px) {
  .mdl-grid .mdl-cell.mdl-cell--8-col, .mdl-grid .mdl-cell .mdl-cell--8-col-desktop {    
    width: 60%;
  }
  .mdl-grid .mdl-cell.mdl-cell--4-col {    
    width: 40%;
  }
  .mdl-grid {    
    margin: 0px;
  }
  .mdl-grid .mdl-cell {    
    margin: 0px;
  }
  .mdl-grid .mdl-cell.mdl-cell--12-col {    
    width: 100%;    
    margin: 0px;
  }
}

/*----*/

/*-- PARTIE MON CALENDRIER FORMATION --*/

/*Suppression de l'espace entre la barre de recherche et le calendrier*/

.widget-my-calendar .my-calendar-widget-content {
    margin-top: 0px;
}

/*Ajout de la couleur bleue sur le calendrier*/

.docebo-calendar .cal-month-view .cal-cell-row.cal-header, .docebo-calendar .cal-month-view, .docebo-calendar .bg-main {
    background: #89cfdd;
    border: none;
}

/*--Changement de couleurs des dates en dehors du mois courant--*/

.docebo-calendar .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    color: #bfe4eb;
}

/*La barre supérieure est de couleur bleue*/

.widget-my-calendar .docebo-data-browser #sorting-filters #filters-holder, .widget-my-calendar .docebo-data-browser #sorting-filters .sort-filters {
    background-color: #99dae7;
    color: white;
    border: none;
}

/*idem*/

.widgets-column-inherit-medium .docebo-data-browser #sorting-filters>div.search-header-container, .widgets-column-medium .docebo-data-browser #sorting-filters>div.search-header-container {
    background-color: #90d4e1;
}

.calendar-header-controls {
    background: #fff;
}

/*Les jours du mois courant et le bouton en haut à gauche sont mis en blanc*/

.zmdi-filter-list:before, .docebo-calendar .cal-month-view .cal-day-cell.cal-in-month .cal-day-number {
    color: white;
}

/*Couleur blanche pour les textes du widget*/

.header-holder #sorting-filters .sort-filters .sort-holder .dropdown-head .dropdown-title {
    color: white;
}

/*Les jours de la semaine sont blancs et en majuscule*/

.widgets-column-half .docebo-calendar .cal-month-view .cal-cell-row.cal-header .cal-cell .cal-weekday-short, .widgets-column-inherit-half .docebo-calendar .cal-month-view .cal-cell-row.cal-header .cal-cell .cal-weekday-short {
    color: #fff;
    text-transform: uppercase;
}

/*-Enlever la bordure grise séparant la barre de recherche et le calendrier-*/

.widget-my-calendar .bottom-border {
    display: none;
}

.widgets-column-inherit-half .docebo-calendar .calendar-header-controls .calendar-year-selector {
    width: 100%;
}

/*Suppression de l'ombre portée */

.pages-widget-page .widget-render .docebo-data-browser #sorting-filters {
    box-shadow: 0 0px 0px         transparent;
}

/* - Date du calendrier - */

.docebo-calendar .calendar-header-controls .calendar-view-title {
    padding: 0px;
}

/*Mise des fleches de sélection du mois au centre vertical du calendrier*/

.docebo-calendar .calendar-header-controls .calendar-arrows {
    border: none;
}

.docebo-calendar .calendar-header-controls .calendar-arrows .calendar-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
}

/*Le bouton 'Mois suivant' est dorénavent à droite du calendrier*/

.calendar-arrow-next {
    right: 0px;
}

/*Modifier la taille et l'espaçage de l'année du calendrier*/

.calendar-year-selector .dropdown-head .dropdown-title {
    line-height: 19px;
    font-size: 14px;
}

/*Modifier l'épaisseur de l'année*/

.docebo-calendar .calendar-header-controls .calendar-year-selector .dropdown-wrapper .dropdown .dropdown-head {
    font-weight: 700;
    padding: 0;
}

/*Le mois de l'année est en gras et en majuscule*/

.widgets-column-small .docebo-calendar .calendar-header-controls .calendar-view-title {
    border: none;
}

.widgets-column-small .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}

/*Le bloc de l'année est plus petit*/

.docebo-calendar .calendar-header-controls .calendar-year-selector .dropdown-wrapper {
    min-width: 45px;
}

/*Déplacement de la flèche à côté de l'année*/

.router-outlet:not(.direction-rtl) .dropdown-head:after {
    right: -10px;
}

/*Suppression du bouton 'Today'*/

.docebo-calendar .calendar-header-controls .back-to-today {
    display: none;
}

/*Suppression du bouton 'Exporter'*/

.docebo-calendar .calendar-header-controls .calendar-export-button .export-show-button {
    display: none;
}

/*Mise de l'icône de recherche en blanc*/

.zmdi-search {
    color: white;
}

/*Ajout de padding, pour les jours du calendrier*/

.widgets-column-inherit-medium .docebo-calendar .cal-month-view .cal-cell-row.cal-header, .widgets-column-medium .docebo-calendar .cal-month-view .cal-cell-row.cal-header {
    padding: 0px 60px 0px;
}

/*Les chiffres sont plus gras*/

.widgets-column-inherit-medium .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number .cal-day-number-inner, .widgets-column-medium .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number .cal-day-number-inner {
    font-weight: 600;
}

/*Ajout de padding pour le calendrier + adaptation de la hauteur du calendrier à celui du tableau 'Mes formations'*/

.docebo-calendar .cal-month-view .cal-days {
    padding: 0px 60px 48px;
}

/*Le bouton du jour courant est dorénavant blanc et bleu*/

.widgets-column-inherit-medium .docebo-calendar .cal-month-view .cal-days .cal-cell-row .cal-cell.cal-today .cal-day-number, .widgets-column-medium .docebo-calendar .cal-month-view .cal-days .cal-cell-row .cal-cell.cal-today .cal-day-number {
    background: #fff;
    color: #89cfdd;
}

/*--PARTIE MON TABLEAU DE BORD--*/

@media  (min-width: 840px) {
  .widget-render-column .mdl-cell .mdl-cell--4-col .widgets-column-small .widgets-column-inherit-medium .widgets-column-inherit-half .ng-star-inserted {    
    width: 40%;
  }
}

/*Les deux boutons sont côte à côte */

.widget-kpis .list-kpis li.col-1of1 {
    width: 50%;
}

/*Changement de la couleur du bouton gauche*/

.widget-kpis .list-kpis li.col-1of1:nth-child(1) {
    background-color: #1eada5;
}

/*Changement de la couleur du bouton droite*/

.widget-kpis .list-kpis li.col-1of1:nth-child(2) {
    background-color: #89cfdd;
}

.description-two-line-13fs-white:before {
    display: none;
}

/*On enlève le SAP "Boite à outils"*/

.widget-kpis .list-kpis lia>span small {
    display: none;
}

/*Augmentation de la taille des boutons*/

.widget-kpis .list-kpis li a {
    height: 290px;
    display: flex;
    box-sizing: border-box;
    padding: 90px 25px;
    text-align: center;
    flex-direction: column;
    flex-flow: column-reverse;
}

/*Le texte à l'intérieur des boutons est blanc*/

.router-outlet:not(.direction-rtl) .widgets-column-inherit-half .widget-kpis .list-kpis li a h5 {
    position: relative;
    right: 0;
    left: 0;
    max-width: 100%;
    color: white;
    top: 0;
}

/*Les chiffres sont en blanc*/

.router-outlet:not(.direction-rtl) .widgets-column-inherit-half .widget-kpis .list-kpis li a > span {
    color: white;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    font-size: 45px;
    max-width: 100%;
}

/*-WIDGET COURSES-*/

.widgets-column-small [_nghost-c28] .widget-activity.nonslide-widget[_ngcontent-c28] {
    height: 290px;
    min-height: 290px;
}

/*MON ACTIVITÉ*/

@media  (min-width: 840px) {
  .mdl-grid[_ngcontent-c27] .mdl-cell.mdl-cell--4-col:nth-child(3) {    
    width: 20%;    
    height: 290px;    
    min-height: 290px;
  }
  .mdl-grid[_ngcontent-c27] .mdl-cell.mdl-cell--4-col:nth-child(3) .single-widget {    
    height: 290px;    
    min-height: 290px;
  }
  .wrapper[_ngcontent-c27] {    
    height: 290px;
  }
}

.titles-container[_ngcontent-c40] {
    position: absolute;
    bottom: 50px;
    font-size: 14px;
}

.title[_ngcontent-c40] {
    font-size: 16px;
    font-weight: 600;
}

/*--NOTRE SELECTION DE FORMATIONS POUR VOUS--*/

.carousel[_ngcontent-c27] .slick-slider-carousel[_ngcontent-c27] {
    min-height: 200px;
}

/*Enlever le sous-titre Parcours Commercial*/

.router-outlet:not(.direction-rtl) .tilegroup-wrapper .tilegroup-head {
    display: none;
}

/*Enlever la barre de recherche*/

.catalog-widget-root .docebo-data-browser .full-width-header-container {
    display: none;
}

.carousel .slick-slider-carousel {
    width: 100%;
}
.carousel .slick-slider-carousel .tile-wrapper {
    margin-right: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.carousel .slick-slider-carousel .tile-wrapper .mdl-card .tile-bg {
    height: 320px;
}

.carousel[_ngcontent-c43] .slick-slider-carousel[_ngcontent-c43] *[_ngcontent-c43] {
    width: 33.3%;
}

.tilegroup-wrapper {
    padding-bottom: 0px;
}

.router-outlet:not(.direction-rtl) .tile-wrapper .mdl-card .tile-bg .demo-card-image .item-status-box {
    display: none;
}

.docebo-calendar .calendar-header-controls .calendar-header-control {
    border: none;
}

/*Couleur du texte*/

.tile-wrapper .mdl-card .tile-supporting-text .mdl-card__title .mdl-card__title-text a {
    color: white;
}

.router-outlet:not(.direction-rtl) .tile-wrapper .mdl-card .tile-supporting-text .subtitle-boxes {
    display: none;
}

.tile-wrapper .mdl-card .price-value {
    border: 1px solid white;
    color: white;
    padding: 10px;
}

.tile-wrapper .mdl-card .tile-supporting-text {
    padding: 30px;
    position: absolute;
    bottom: 0;
    background: none;
}

.carousel .slick-slider-carousel .slick-track {
    width: 100%;
}


.widgets-column-small .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
    font-weight: 700;
    text-transform: uppercase;
}


