//--FONT FACE--
@font-face{
    font-family: 'Calibre';
    src: url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Thin.woff") format("woff"),
         url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Thin.woff2") format("woff2"),
         url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Thin.eot") format("eot");
    font-weight: 200;
}

@font-face{
    font-family: 'Calibre';
    src: url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Light.woff") format("woff"),
         url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Light.woff2") format("woff2"),
         url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Light.eot") format("eot");
    font-weight: 300;
}

@font-face{
    font-family: 'Calibre';
    src: url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Regular.woff") format("woff"),
         url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Regular.woff2") format("woff2"),
         url("https://remote.yesnyou.com/klepierre/lms-klepierre-css/fonts/WebFonts/CalibreWeb-Regular.eot") format("eot");
    font-weight: 400;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, .common-widget-title, .price-value, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, .subtitle, summary, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    font-family: 'Calibre';
}

.mdl-tabs__tab{
    font-size: 16px;
}

// .tabs-header_element a.mdl-tabs__tab  {
//     font-family: "Open Sans", sans-serif;
//     font-size: 14px;
// }

.course .course-tabs .mdl-tabs .tabs-head {
    padding: 0;
}

.info-boxes{
    .price-value{
        .ng-star-inserted{
            font-family: 'Calibre';
        }
    }
}

.mdl-dialog__content .body-wrap.has-actions{
    min-height: 100%;
}

.users-list .wrap-table .table-extended .table-extended-content .table-wrap .table-container .wrap-table-inner .mdl-data-table tbody tr td.td-status .status-state i{
    font-size: 16px;
}

.router-outlet:not(.direction-rtl) .tile-wrapper .mdl-card .tile-bg .demo-card-image .type-box,
.tile-wrapper:not(.horizontal-card) .subtitle-box .language .truncated-text,
.horizontal-tile-group-wrapper section.items-wrapper .tile-wrapper.horizontal-card .tile-supporting-text .subtitle-boxes .language div,
.tile-wrapper .mdl-card .tile-supporting-text .subtitle-box .component-language{
    display: none;
}

.global-search-wrapper .input-wrapper .search-button-wrapper i{
    line-height: 36px;
}

.router-outlet:not(.direction-rtl) #page-title__wrapper .legacy-wrapped-title .seven-header-page-title .header-icon{
    line-height: 37px;
}

.header-icons {
    font-size: 22px;
}

.text-grey-dark, .text-hover-grey-dark, line-limiter .content-wrap:not(.expanded-wrapper) .content.ellipsis,
.calendar-view-title-formatted, .mdl-ripple, .mdl-ripple .is-animating, .ng-tns-c1-35, .menu-title, .button-text, .global-search-wrapper .input-wrapper input, .router-outlet:not(.direction-rtl) .button-dropdown-wrapper .dropdown-button .title-wrap .title, .text-positive-green{
    font-family: 'Calibre';
}

.zmdi{
    font: normal normal normal 22px/1 Material-Design-Iconic-Font;
}


#sidebar-filters + div .zmdi-lock:before{
    // margin-top: 13px;
    position: absolute;
    top: 50%;
    content: '\f191';
    right: 0;
    left: 0;
    transform: translateY(-50%);
}

.course-head-content .course-info .text-capitalize{
    display: none;
}

.wrap-icons .panel-icons .zmdi-help{
    line-height: 52px;
}

.wrap-icons .panel-icons .dropdown-button i.zmdi-comments{
    margin-top: 3px;
}

.wrap-icons .panel-icons .dropdown-button i{
    font-size: 20px;
}

.admin-menu_wrap .buttons-row .admin-buttons .icon-button{
    font-size: 22px;
    top: 7px;
}

html, body{
    font-family: 'Calibre';
    font-weight: 300;
}

html .text-main {
    /*Couleur principale du texte*/
    color: black;
}

html .text-hover-main:hover {
    /*Mettre le hover du sous-menu en rouge*/
    color: #ef8881;
}

.page-content:not(.seven-header-one-line-present){
    
    div.common-widget-title {
        /*Épaisseur des titres*/
        font-weight: 400;
    }

    .mdl-wrapper {
        .widget-render-row:nth-child(1) {
            @media  (min-width: 840px) {
                &.mdl-grid {    
                    margin: 0px;
                }

                &.mdl-grid .mdl-cell.mdl-cell--12-col{
                    width: 100%;
                    margin: 0px;
                }
                
            }

            @media (max-width: 840px){
                &.mdl-grid .mdl-cell.mdl-cell--12-col{
                    width: 100%;
                    margin: 0px;
                }
            }


            .common-widget-title {
                /*Ne pas afficher le titre du header*/
                display: none;
            }
        }

        .widget-render-row:nth-child(2) {
            @media  (min-width: 840px) {
                &.mdl-grid {    
                    margin: 0px;
                }
            }

            @media  (min-width: 1024px) {
                /*écrans de + de 840px : enlever les margin et changer les tailles*/
                &.mdl-grid .mdl-cell.mdl-cell--8-col, &.mdl-grid .mdl-cell .mdl-cell--8-col-desktop {    
                    width: 60%;
                }
                &.mdl-grid .mdl-cell.mdl-cell--4-col {    
                    width: 40%;
                }
                &.mdl-grid .mdl-cell {    
                    margin: 0px;
                }
                &.mdl-grid .mdl-cell.mdl-cell--12-col {    
                    width: 100%;    
                    margin: 0px;
                }
                .mdl-grid {    
                    margin: 0px;
                }
            }

            @media (min-width: 840px) and (max-width: 1024px){
                &.mdl-grid .mdl-cell.mdl-cell--8-col, &.mdl-grid .mdl-cell .mdl-cell--8-col-desktop {    
                    width: 50%;
                }
                &.mdl-grid .mdl-cell.mdl-cell--4-col {    
                    width: 50%;
                }
                &.mdl-grid .mdl-cell.mdl-cell--12-col {    
                    width: 100%;    
                    margin: 0px;
                }
                &.mdl-grid .mdl-cell {    
                    margin: 0px;
                }
                .mdl-grid {    
                    margin: 0px;
                }
            } 

            @media (max-width: 840px){
                &.mdl-grid .mdl-cell.mdl-cell--8-col, &.mdl-grid .mdl-cell .mdl-cell--8-col-desktop {    
                    width: 100%;
                }
                &.mdl-grid .mdl-cell.mdl-cell--4-col{
                    width: 100%;
                }

                &.mdl-grid .mdl-cell.mdl-cell--12-col {    
                    width: 100%;    
                    margin: 0px;
                }

                &.mdl-grid .mdl-cell{
                    margin: 0px;
                }

                .mdl-grid {    
                    margin: 0px;
                }
            }

            .widget-render-column:nth-child(1){
                
                .widget-channels{
                    .header-holder{
                        #sorting-filters{
                            height: 65px;
                            max-height: 65px;
        
                            #filters-holder, .search-header-container, .sort-filters{
                                height: 65px;
                            }
                        }
                    }
                }

                /* -- WIDGET CHANNELS -- */
                .widget-channels{
                    .mdl-grid .mdl-cell.mdl-cell--12-col{
                        // background-color: white;
                    }
                    .docebo-data-browser{
                        .section-wrapper{
                            .mdl-grid{
                                .mdl-cell-12-col{
                                    // background-color: white;
                                }
                            }
                        }
                    }
                }

                .widget-channels-content{
                    margin-top: 9px;
                    margin-bottom: 10px;
                }

                channels-tilegroup-wrapper{
                    .tilegroup-head{
                        display: none;
                    }

                    .duration-box{
                        display: none;
                    }

                    .tile-wrapper{
                        width: 268px;
                    }

                    .tile-wrapper:not(.horizontal-card).square .mdl-card{
                        min-height: 260px;
                    }

                    .channel-body{
                        .channels{
                            tile-group{
                                .ng-star-inserted{
                                    .tilegroup-wrapper{
                                        padding-bottom: 0px;
                                    }
                                }
                            }
                        }
                    }

                    carousel-tile{
                        .carousel{
                            height: 290px;
                        }
                        .slick-controllers{
                            .slick-button-next, .slick-button-prev{
                                height: 100%;
                            }
                        }
                        .slick-slider-carousel{
                            max-height: 290px;
                        }
                    }

                    .slick-slider-carousel .tile-wrapper{
                        margin-right: 15px;
                    }

                    .tile-wrapper .mdl-card .tile-bg{
                        display: block;
                        height: 100%;
                        width: 100%;
                    }

                    .type-box{
                        display: none;
                    }

                    .info-boxes{
                        display: none;
                    }

                    .text-main{
                        color: white;
                        text-transform: uppercase;
                    }
                    
                    .subtitle-boxes{
                        color: white;
                        display: none;
                    }

                    .tile-supporting-text{
                        position: absolute;
                        bottom: 0;
                    }
                }

                /* -- BLOC MES FORMATIONS ET MON CALENDRIER FORMATION -- */
                .mdl-grid{
                    padding: 0px;
                    margin: 0px;
                }
                @media  (min-width: 840px) {
                    .ng-star-inserted .section-wrapper .mdl-grid{
                        margin: 0px;
                    }
                }

                // .task-list__wrapper{
                //     min-height: 451px;
                // }

                div.demo-card-wide.mdl-card.mdl-shadow--2dp.ng-star-inserted {
                    /*On supprime le padding des éléments du bloc*/
                    // padding: 0;
                    // display: flex;
                    // flex-direction: inherit;
                }

                .demo-card-wide .tile-bg{
                    margin-right: 0px;
                }
                
                .demo-card-wide .type-box{
                    display: none;
                }

                a.mdl-tabs__tab.text-grey-mid-permanent.text-hover-main.ng-star-inserted {
                    /*Epaisseur des sous-parties du menu*/
                    font-weight: 600;
                }
                
                .mdl-tabs .tabs-head .tab-counter {
                    /*Déplacement des boutons de notifications sur les éléments du menu*/
                    font-size: 9px;
                    position: absolute;
                    top: 15px;
                    padding: 0px 6px;
                    border-radius: 50%;
                }
    
                .mdl-tabs__tab {
                    /*Changement de la taille et des padding des boutons du sous-menu*/
                    height: 50px;
                    padding: 2px 0px;
                }

                .table-actions{
                    padding-right: 0px;
                    padding-top: 0px;
                    padding-right: 0px;
                    padding-bottom: 0px;
                }

                .btn-ellipsis{
                    position: relative;
                    background: #f88;
                    padding: 2px;
                    .btn-more{
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .mdl-tabs__tab-bar{
                    max-width: calc(100% - 50px);
                    padding: 10px;
                }

                .btn-ellipsis .btn-more:hover{
                    background: transparent;
                }

                .btn-ellipsis .is-visible+.btn-more{
                    background: transparent;
                }
                
                .btn-ellipsis .btn-more .zmdi{
                    color: white;
                }
                .mdl-tabs header{
                    padding: 0px;
                }

                .mdl-tabs .tabs-head .tab-ellipsis{
                    padding: 0px;
                    background-color: #f88;
                }
                
                .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
                    /*Mettre l'élément actif du sous-menu en rouge*/
                    color: #ef8881;
                }
    
                .mdl-tabs__tab .bg-error {
                    background: #eee;
                }
    
                .mdl-tabs__tab.is-active .bg-error {
                    background: #ef8881;
                }
    
                .mdl-tabs__tab:before {
                    /*Déplacement du soulignement du bouton plus proche du titre*/
                    height: 2px;
                    bottom: 14px;
                    background: #ef8881;
                }
    
                .mdl-tabs .tabs-head .tabs-header_element {
                    /*Espacer les élements du sous-menu*/
                    padding: 0px 20px;
                }
    
                .router-outlet.direction-rtl .mdl-tabs.inline .tabs-head, .router-outlet:not(.direction-rtl) .mdl-tabs.inline .tabs-head {
                    padding: 12px 17px;
                }
    
                tile-supporting-content {
                    /*--Boutons des cours Mes formations--*/
                    /*Centrage vertical du texte de cours + augmentation de l'espace*/
                    padding: 38px 35px;
                }
    
                tile-supporting-content .title-block {
                    min-height: 0px;
                    margin-bottom: 0px;
                }
    
                .tile-wrapper.horizontal-card:not(.learning-object) .demo-card-image {
                    /*Enlever la petite bordure blanche sur chaque image de cours*/
                    border: none;
                }
    
                .horizontal-card .mdl-card .tile-bg .demo-card-image {
                    min-height: 95px;
                }
            }
            
            .widget-render-column:nth-child(2){
                /*-- PARTIE MON CALENDRIER FORMATION --*/
                .widget-my-calendar .my-calendar-widget-content {
                    /*Suppression de l'espace entre la barre de recherche et le calendrier*/
                    margin-top: 0px;
                }

                .widget-my-calendar .docebo-data-browser{
                    min-height: 365px;
                    // min-height: 451px;
                }

                .docebo-calendar .cal-month-view .cal-cell-row.cal-header, .docebo-calendar .cal-month-view, .docebo-calendar .bg-main {
                    /*Ajout de la couleur bleue sur le calendrier*/
                    background: #89cfdd;
                    border: none;
                }

                .docebo-calendar .cal-month-view .cal-day-cell{
                    min-height: 23px;
                }

                .docebo-calendar .cal-month-view .cal-days .cal-cell-row{
                    height: 33px;
                }
                
                .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number{
                    height: 23px;
                    width: 23px;
                }

                .docebo-calendar .cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
                    /*Changement de couleurs des dates en dehors du mois courant*/
                    color: #bfe4eb;
                }

                .widget-my-calendar .docebo-data-browser{
                    /*Fond du widget calendrier*/
                    background-color: #89cfdd;
                }

                .widget-my-calendar .docebo-data-browser #sorting-filters #filters-holder, .widget-my-calendar .docebo-data-browser #sorting-filters .sort-filters {
                    /*La barre supérieure est de couleur bleue*/
                    background-color: #99dae7;
                    color: white;
                    border: none;
                }

                .docebo-data-browser #sorting-filters>div.search-header-container, .widgets-column-medium .docebo-data-browser #sorting-filters>div.search-header-container {
                    /*La barre de recherche est d'un bleu légèrement différent*/
                    background-color: #90d4e1;
                }

                .docebo-data-browser #sorting-filters .search-header-container .form-search .mdl-textfield__input{
                    color: white;
                }

                .docebo-data-browser #sorting-filters .search-header-container .search-label{
                    color: white;
                    ::placeholder{
                        color: white;
                    }
                }

                .calendar-header-controls {
                    background: #fff;
                    height: 40px;
                }

                .header-holder #sorting-filters {
                    height: 65px;
                    max-height: 65px;

                    #filters-holder, .search-header-container, .sort-filters{
                        height: 65px;
                    }
                }

                .zmdi-filter-list:before, .docebo-calendar .cal-month-view .cal-day-cell.cal-in-month .cal-day-number, .header-holder #sorting-filters .sort-filters .sort-holder .dropdown-head .dropdown-title {
                    /*Les jours du mois courant, les textes du widget et le bouton en haut à gauche sont mis en blanc*/
                    color: white;
                }

                .docebo-calendar .cal-month-view .cal-cell-row.cal-header .cal-cell .cal-weekday-short, .widgets-column-inherit-half .docebo-calendar .cal-month-view .cal-cell-row.cal-header .cal-cell .cal-weekday-short {
                    /*Les jours de la semaine sont blancs et en majuscule*/
                    color: #fff;
                    text-transform: uppercase;
                }

                .widget-my-calendar .bottom-border {
                    /*-Enlever la bordure grise séparant la barre de recherche et le calendrier-*/
                    display: none;
                }

                .docebo-calendar .calendar-header-controls .calendar-year-selector {
                    width: 100%;
                }

                .docebo-data-browser #sorting-filters {
                    /*Suppression de l'ombre portée sur la barre supérieure*/
                    box-shadow: 0 0px 0px transparent;
                }

                .docebo-calendar .calendar-header-controls .calendar-view-title {
                    /*Date du calendrier sans padding et bordure*/
                    padding: 0px;
                    border: none;
                }

                .docebo-calendar .calendar-header-controls .calendar-arrows {
                    /*Mise des fleches de sélection du mois au centre vertical du calendrier*/
                    border: none;
                }

                .docebo-calendar .calendar-header-controls .calendar-arrows .calendar-arrow {
                    position: absolute;
                    top: 50%;
                    z-index: 10;
                    border: none;
                }

                .calendar-arrow-next {
                    /*Le bouton 'Mois suivant' est dorénavant à droite du calendrier*/
                    right: 0px;
                }

                .calendar-year-selector .dropdown-head .dropdown-title {
                    /*Modifier la taille et l'espaçage de l'année du calendrier*/
                    line-height: 19px;
                    font-size: 14px;
                }

                .docebo-calendar .calendar-header-controls .calendar-year-selector .dropdown-wrapper .dropdown .dropdown-head {
                    /*Modifier l'épaisseur de l'année*/
                    font-weight: 700;
                    padding: 0;
                }

                .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
                    font-weight: 700;
                    text-transform: uppercase;
                    border: none;
                }

                .docebo-calendar .calendar-header-controls .calendar-year-selector .dropdown-wrapper {
                    /*Le bloc de l'année est plus petit*/
                    min-width: 45px;
                }
                
                .dropdown-head:after {
                    /*Déplacement de la flèche à côté de l'année*/
                    right: -10px;
                }

                .docebo-calendar .calendar-header-controls .back-to-today {
                    /*Suppression du bouton 'Today'*/
                    display: none;
                }

                .docebo-calendar .calendar-header-controls .calendar-export-button .export-show-button {
                    /*Suppression du bouton 'Exporter'*/
                    display: none;
                }
                
                .zmdi-search {
                    /*Mise de l'icône de recherche en blanc*/
                    color: white;
                }
                
                .docebo-calendar .cal-month-view .cal-cell-row.cal-header, .widgets-column-medium .docebo-calendar .cal-month-view .cal-cell-row.cal-header {
                    /*Ajout de padding, pour les jours du calendrier*/
                    padding: 0px 60px 0px;
                }
                
                .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number .cal-day-number-inner, .widgets-column-medium .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number .cal-day-number-inner {
                    /*Les chiffres sont plus gras*/
                    font-weight: 600;
                }

                .docebo-calendar .cal-month-view .cal-days {
                    /*Ajout de padding pour le calendrier + adaptation de la hauteur du calendrier à celui du tableau 'Mes formations'*/
                    padding: 0px 60px 10px;
                }

                .docebo-calendar .cal-month-view .cal-days .cal-cell-row .cal-cell.cal-today .cal-day-number, .widgets-column-medium .docebo-calendar .cal-month-view .cal-days .cal-cell-row .cal-cell.cal-today .cal-day-number {
                    /*Le bouton du jour courant est dorénavant blanc et bleu*/
                    background: #fff;
                    color: #89cfdd;
                }
            }
            
        }

        .widget-render-row:nth-child(3) {
            
            @media  (min-width: 840px) {
                &.mdl-grid {    
                    margin: 0px;
                }
            }

            @media (min-width: 480px) and (max-width: 840px){
                .widget-render-column:nth-child(1), .widget-render-column:nth-child(2){
                    &.mdl-cell.mdl-cell--4-col {    
                        width: 50%;
                        margin: 0;
                    }
                    .single-widget{
                        margin-bottom: 0px;
                    }
                }
                
                .widget-render-column:nth-child(3){
                    .common-widget-title{
                        display: none;
                    }

                    &.mdl-cell.mdl-cell--4-col {    
                        width: 100%;
                        margin: 0;
                    }
                }
            }

            @media (max-width: 480px){
                .widget-render-column:nth-child(1), .widget-render-column:nth-child(2){
                    &.mdl-cell.mdl-cell--4-col {    
                        width: 100%;
                        margin: 0;
                    }
                    .single-widget{
                        margin-bottom: 0px;
                    }
                }

                .widget-render-column:nth-child(2){
                    .common-widget-title{
                        display: none;
                    }
                }

                .widget-render-column:nth-child(3){
                    .common-widget-title{
                        display: none;
                    }

                    &.mdl-cell.mdl-cell--4-col {    
                        width: 100%;
                        margin: 0;
                    }
                }
            }

            .widget-render-column:nth-child(1){
                /*--PARTIE MON TABLEAU DE BORD--*/  
                @media  (min-width: 840px) {
                    /*écrans de + de 840px : enlever les margin et changer les tailles*/
                    &.mdl-cell.mdl-cell--8-col, .mdl-cell .mdl-cell--8-col-desktop {    
                        width: 60%;
                    }
                    &.mdl-cell.mdl-cell--4-col {    
                        width: 40%;
                    }
                    &.mdl-cell {    
                        margin: 0px;
                    }
                    &.mdl-cell.mdl-cell--12-col {    
                        width: 100%;    
                        margin: 0px;
                    }
                    &.mdl-grid {    
                        margin: 0px;
                    }
                }

                .widget-kpis .list-kpis li.col-1of1 {
                    /*Les deux boutons sont côte à côte */
                    width: 50%;
                }
                
                .widget-kpis .list-kpis li.col-1of1:nth-child(1) {
                    /*Changement de la couleur du bouton gauche*/
                    background-color: #1eada5;
                }
    
                .widget-kpis .list-kpis li.col-1of1:nth-child(2) {
                    /*Changement de la couleur du bouton droite*/
                    background-color: #89cfdd;
                }
    
                .description-two-line-13fs-white:before {
                    display: none;
                }
    
                .widget-kpis .list-kpis li a>span small {
                    /*On enlève le SAP "Boite à outils"*/
                    display: none;
                }
    
                .widget-kpis .list-kpis li a {
                    /*Augmentation de la taille des boutons*/
                    height: 290px;
                    display: flex;
                    box-sizing: border-box;
                    padding: 90px 25px;
                    text-align: center;
                    flex-direction: column;
                    flex-flow: column-reverse;
                }
    
                .widget-kpis .list-kpis li a h5 {
                    /*Le texte à l'intérieur des boutons est blanc*/
                    position: relative;
                    right: 0;
                    left: 0;
                    max-width: 100%;
                    color: white;
                    top: 0;
                }
    
                .widget-kpis .list-kpis li a > span {
                    /*Les chiffres sont en blanc*/
                    color: white;
                    font-weight: 600;
                    margin-bottom: 25px;
                    text-align: center;
                    position: relative;
                    right: 0;
                    left: 0;
                    top: 0;
                    font-size: 45px;
                    max-width: 100%;
                }
            }
            
            .widget-render-column:nth-child(2){
                /*-WIDGET COURSES-*/
                .common-widget-title{
                    opacity: 0;
                }
                @media  (min-width: 840px) {
                    /*écrans de + de 840px : enlever les margin et changer les tailles*/
                    &.mdl-cell.mdl-cell--8-col, .mdl-cell .mdl-cell--8-col-desktop {    
                        width: 60%;
                    }
                    &.mdl-cell.mdl-cell--4-col {    
                        width: 40%;
                    }
                    &.mdl-cell {    
                        margin: 0px;
                    }
                    &.mdl-cell.mdl-cell--12-col {    
                        width: 100%;    
                        margin: 0px;
                    }
                    &.mdl-grid {    
                        margin: 0px;
                    }
                }

                .widget-activity.nonslide-widget {
                    height: 290px;
                    min-height: 290px;
                }
            }
            
            .widget-render-column:nth-child(3){
                /*BOUTON MON ACTIVITÉ*/
                .common-widget-title{
                    opacity: 0;
                }
                @media  (min-width: 840px) {
                    &.mdl-cell.mdl-cell--4-col {
                        /*Mettre*/
                        width: 20%;    
                        height: 335px;    
                        min-height: 335px;
                        margin:0;
                    }
                    &.mdl-cell.mdl-cell--4-col .single-widget {    
                        height: 335px;    
                        min-height: 335px;
                    }
                    .wrapper {    
                        height: 335px;
                        min-height: 335px;
                    }
                }

                .titles-container {
                    position: absolute;
                    bottom: 50px;
                    font-size: 14px;
                }
    
                .title {
                    font-size: 16px;
                    font-weight: 600;
                    display: none;
                }

                .button{
                    margin-top: 165px;
                    button{
                        background: none;
                        border: 1px solid white;
                    }
                }
            }
        }

        .widget-render-row:nth-child(4){
            
            @media (max-width: 840px){
                &.mdl-grid .mdl-cell.mdl-cell--8-col, &.mdl-grid .mdl-cell .mdl-cell--8-col-desktop {
                    width: 100%;
                    margin: 0;
                }

                .widget-render-column:nth-child(1){
                    &.mdl-grid .mdl-cell{
                        width: 100%;
                    }
                    .single-widget{
                        margin-left:0px;
                        margin-right:0px;
                        margin-bottom:0px;
                    }
                }

                .widget-render-column:nth-child(2){
                    margin-left:0px;
                    margin-right:0px;
                    margin-bottom: 32px;
                    .common-widget-title{
                        display: none;
                    }

                    &.mdl-cell.mdl-cell--4-col {    
                        width: 100%;
                    }
                }
            }

            @media  (min-width: 840px) {
                /*écrans de + de 840px : enlever les margin et changer les tailles*/
                &.mdl-grid .mdl-cell.mdl-cell--8-col, &.mdl-grid .mdl-cell .mdl-cell--8-col-desktop {
                    width: 60%;
                }
                &.mdl-grid .mdl-cell.mdl-cell--4-col {    
                    width: 40%;
                }
                &.mdl-grid {    
                    margin: 0 0px;
                }
                &.mdl-grid .mdl-cell {    
                    margin: 0px;
                }
                &.mdl-grid .mdl-cell.mdl-cell--12-col {    
                    width: 100%;    
                    margin: 0px;
                }
            }

            .widget-render-column:nth-child(1){
                /*--NOTRE SELECTION DE FORMATIONS POUR VOUS--*/

                .single-widget{
                    margin-right: 10px;
                    @media (max-width: 840px){
                        margin-right: 0px;
                    }
                }

                .tilegroup-wrapper .tilegroup-head {
                    /*Enlever le sous-titre Parcours Commercial*/
                    display: none;
                }

                .tile-bg .demo-card-image .item-status-box{
                    right: 0px;
                    left: 25px;
                    top: 140px;
                    position: absolute;
                    span{
                        background: none;
                    }
                }
    
                .catalog-widget-root .docebo-data-browser .full-width-header-container {
                    /*Enlever la barre de recherche*/
                    display: none;
                }

                .carousel .slick-slider-carousel {
                    /*Remettre les élements du carousel à la bonne taille*/
                    width: 100%;
                    min-height: 290px;
                    max-height: 290px;
                }
    
                .carousel .slick-slider-carousel .tile-wrapper {
                    margin-right: 0px;
                    margin-bottom: 0px;
                    width: 100%;
                }
    
                .carousel .slick-slider-carousel .tile-wrapper .mdl-card .tile-bg {
                    height: 290px;
                }
                
                .carousel .slick-slider-carousel .slick-list-draggable{
                    /*3 éléments du carousel s'affichent*/
                    width: 100%;
                }

                .carousel .slick-slider-carousel .slick-slide{
                    /*3 éléments du carousel s'affichent*/
                    // width: 33.3%;
                    // padding: 0px 5px;
                    padding-right: 10px;
                    width: 274px;
                }

                .tilegroup-wrapper {
                    padding-bottom: 0px;
                }
    
                .tile-wrapper .mdl-card .tile-bg .demo-card-image .type-box,
                .tile-wrapper .mdl-card .tile-supporting-text .subtitle-boxes{
                    display: none;
                    /*On enlève les termes 'Moderated' et 'Classroom'*/
                }

                .tile-wrapper:not(.horizontal-card).square .mdl-card{
                    min-height: 290px;
                }
            
                .docebo-calendar .calendar-header-controls .calendar-header-control {
                    border: none;
                }
    
                .tile-wrapper .mdl-card .tile-supporting-text .mdl-card__title .mdl-card__title-text a {
                    /*Couleur du texte*/
                    color: white;
                }
            
                .tile-wrapper .mdl-card .price-value {
                    display: flex;
                    width: fit-content;
                    border: 1px solid white;
                    color: white;
                    padding: 10px;
                    &::after{
                        margin-left: 10px;
                        content:'\2192';
                    }
                }
            
                .tile-wrapper .mdl-card .tile-supporting-text {
                    padding: 30px;
                    position: absolute;
                    bottom: 0;
                    background: none;
                }
            
                .carousel .slick-slider-carousel .slick-track {
                    // width: 100%;
                }

                .carousel .slick-controllers .slick-button-next, 
                .carousel .slick-controllers .slick-button-prev{
                    height: 100%;
                }
            
                .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            .widget-render-column:nth-child(2){
                /*DECOUVREZ TOUS LES CATALOGUES DE FORMATION*/

                .common-widget-title{
                    /*Effacement du texte*/
                    opacity: 0;
                }

                .single-widget{
                    margin: 0px;
                    // margin-left: 3px;
                    // margin-right: 5px;
                }

                .background-content{
                    /*Mise en page du widget avec le texte*/
                    padding: 102px 70px 44px 70px;
                    
                    .subtitle{
                        color: rgb(255, 255, 255);
                        font-size: 22px;
                        width: 330px;
                        font-weight: 400;
                        line-height: normal;
                    }

                    @media (min-width: 840px) and (max-width: 1024px){
                        padding: 114px 50px 44px 40px;
                        .subtitle{
                            color: rgb(255, 255, 255);
                            font-size: 18px;
                            width: 300px;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                    
                    button{
                        /*Modification de la couleur et forme du bouton*/
                        background-color: transparent;
                        border-radius: 0px;
                        margin-top: 24px;
                        color: white;
                        border: 1px solid white;
                    }
                }
            }
        } 

        .widget-render-row:nth-child(5){

            @media (max-width: 840px){
                .widget-render-column:nth-child(1){
                    &.mdl-cell.mdl-cell--4-col {    
                        width: 100%;
                        margin-left: 0px;
                        margin-right: 0px;
                    }

                    .single-widget{
                        margin-bottom: 0px;
                    }

                    .background-content{
                        .subtitle{
                            width: 100%;
                        }
                    }
                }
                .widget-render-column:nth-child(2){
                    &.mdl-cell.mdl-cell--8-col {    
                        width: 100%;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                    .common-widget-title{
                        display: none;
                    }
                }
            }

            @media  (min-width: 840px) {
                &.mdl-grid {    
                    margin: 0px 0px;
                }
                &.mdl-grid .mdl-cell.mdl-cell--8-col, &.mdl-grid .mdl-cell .mdl-cell--8-col-desktop {    
                    width: 60%;
                    margin: 0px;
                }
                &.mdl-grid .mdl-cell.mdl-cell--4-col {    
                    width: 40%;
                    margin: 0px;
                }
            }

            .widget-render-column:nth-child(1){
                /*DECOUVREZ VOTRE PARCOURS MÉTIER*/
                width: 100%;
                margin: 0px 0px 10px 0px;

                .background-content{
                    /*Mise en page du widget avec le texte*/
                    margin: 0px;
                    padding: 0px 45px;
                    // padding: 102px 52px 44px 45px;
                    .subtitle{
                        color: rgb(255, 255, 255);
                        font-size: 22px;
                        width: 330px;
                        margin-top: 40px;
                        margin-bottom: 0px;
                        // margin-bottom: 50px;
                        @media (max-width: 840px){
                            width: 100%;
                        }
                        font-weight: 400;
                        line-height: normal;
                    }


                    .button-container{
                        margin-bottom: 30px;
                    }
                    
                    @media (min-width: 840px) and (max-width: 1024px){
                        // padding: 114px 50px 44px 40px;
                        .subtitle{
                            color: rgb(255, 255, 255);
                            font-size: 18px;
                            width: 330px;
                            font-weight: 400;
                            line-height: normal;
                        }
                    }
                    
                    button{
                        /*Modification de la couleur et forme du bouton*/
                        background-color: transparent;
                        border-radius: 0px;
                        margin-top: 24px;
                        color: white;
                        border: 1px solid white;
                    }
                }
            }

            .widget-render-column:nth-child(2){
                /*--NOTRE SELECTION DE FORMATIONS POUR VOUS--*/
                .common-widget-title{
                    /*Effacement du texte*/
                    opacity: 0;
                }

                .tilegroup-wrapper .tilegroup-head {
                    /*Enlever le sous-titre Parcours Commercial*/
                    display: none;
                }
    
                .catalog-widget-root .docebo-data-browser .full-width-header-container {
                    /*Enlever la barre de recherche*/
                    display: none;
                }

                .carousel .slick-slider-carousel {
                    /*Remettre les élements du carousel à la bonne taille*/
                    width: 100%;
                    min-height: 290px;
                    max-height: 290px;
                }
    
                .carousel .slick-slider-carousel .tile-wrapper {
                    margin-right: 0px;
                    margin-bottom: 0px;
                    width: 100%;
                }
    
                .carousel .slick-slider-carousel .tile-wrapper .mdl-card .tile-bg {
                    height: 290px;
                }
                
                .carousel .slick-slider-carousel .slick-list-draggable{
                    /*3 éléments du carousel s'affichent*/
                    width: 100%;
                }

                .carousel .slick-slider-carousel .slick-slide{
                    /*3 éléments du carousel s'affichent*/
                    // width: 33.3%;
                    // padding: 0px 5px;
                    padding-left: 10px;
                    width: 274px;
                }

                .tilegroup-wrapper {
                    padding-bottom: 0px;
                }
    
                .tile-wrapper .mdl-card .tile-bg .demo-card-image .type-box,
                .tile-wrapper .mdl-card .tile-supporting-text .subtitle-boxes{
                    display: none;
                    /*On enlève les termes 'Moderated' et 'Classroom'*/
                }

                .tile-wrapper:not(.horizontal-card).square .mdl-card{
                    min-height: 290px;
                }

                .tile-bg .demo-card-image .item-status-box{
                    right: 0px;
                    left: 25px;
                    top: 140px;
                    position: absolute;
                    span{
                        background: none;
                    }
                }
            
                .docebo-calendar .calendar-header-controls .calendar-header-control {
                    border: none;
                }
    
                .tile-wrapper .mdl-card .tile-supporting-text .mdl-card__title .mdl-card__title-text a {
                    /*Couleur du texte*/
                    color: white;
                }
            
                .tile-wrapper .mdl-card .price-value {
                    display: flex;
                    width: fit-content;
                    border: 1px solid white;
                    color: white;
                    padding: 10px;
                    &::after{
                        margin-left: 10px;
                        content:'\2192';
                    }
                }
            
                .tile-wrapper .mdl-card .tile-supporting-text {
                    padding: 30px;
                    position: absolute;
                    bottom: 0;
                    background: none;
                }

                .carousel .slick-controllers .slick-button-next, 
                .carousel .slick-controllers .slick-button-prev{
                    height: 100%;
                }
            
                .docebo-calendar .calendar-header-controls .calendar-view-title .view-title-short {
                    font-weight: 700;
                    text-transform: uppercase;
                }

            }
        }
    }    
}