
/*CSS AUREL*/
.wrapper-shadow {
    box-shadow:0px 0px 0px 0px!important;
    }
    .course-head-content .title {
    font-weight:bold!important;
    color: #141C4C!important;
    }
    .horizontal-tile-group-wrapper section.items-wrapper .tile-wrapper.horizontal-card .mdl-card__title {
    padding-left:10px!important;
    }
    /*Hide learning plan description - admin*/
    #curricula-management-grid #curricula-management-grid_c3 {
        display:none!important;
    }
    #curricula-management-grid .odd .native-styled, #curricula-management-grid .even .native-styled {
        display:none!important;
    }
    /*MyCalendar events*/
    .widgets-column-inherit-medium .docebo-calendar .cal-month-view .cal-day-cell .cal-day-number .cal-day-number-inner .cal-event-balloons .cal-event-balloon{
    width: 7px!important;
    height: 7px!important;
    margin-right: 0px!important;
    }
    .docebo-calendar .cal-month-event-popover .event-popover-description{
    display:none!important;
    }
    
    /*temp - Hidding instructor info into the extra info tab catalog*/
    .course .additional-information .instructor-info {
    display:none!important;
    }
    /*Temp - MyTeam page - Hide summary*/
    .summary-bar__wrapper[_ngcontent-c5]{
    display:none!important;
    }
    
    /*CUSTOM LOGIN PAGE NO SSO TEMP*/
    .router-outlet>ng-component{height:100%;display:flex;align-items:center;justify-content:center}.router-outlet>ng-component internal-layout{display:flex;flex-wrap:wrap;width:700px;background:#fff;border-radius:5px}.router-outlet>ng-component internal-layout header{background:0 0;order:-2}.router-outlet>ng-component internal-layout header .mdl-layout__header-row{background:0 0}.router-outlet>ng-component internal-layout header .mdl-layout__header-row .seven-logo{transform:none!important;left:20px!important}.router-outlet>ng-component internal-layout .mdl-layout__content.minimal-login{width:360px;height:auto!important}.minimal-login div.login-form{margin:0;padding:0;min-width:inherit}.minimal-login div.login-form:after{content:'';display:block;width:1px;background:#ddd;position:absolute;top:30px;left:0;bottom:30px}div.login-form .login-wrap,div.login-form form{padding:0}div.login-form .login-wrap h2{text-align:center;margin-bottom:10px;font-size:18px;line-height:1.3}.minimal-login div.login-form button{background-color:#024684}.router-outlet>ng-component internal-layout .login-container{display:block;position:static}.router-outlet>ng-component internal-layout .login-container .login-content{width:100%;padding:30px;background:0 0}.login-container .login-wrapper{min-height:inherit;box-shadow:none}.login-container .description-text,.login-container .sign-in-text,.login-container .sso-buttons,.minimal-login+snackbar+footer .custom-text-footer>p{display:none}.minimal-login+snackbar+footer .custom-text-footer>p+div{display:block!important}.router-outlet>ng-component internal-layout .footer-guest{display:flex;flex-direction:column;order:-1;background:0 0!important}.router-outlet>ng-component internal-layout .footer-guest .mdl-layout__footer{position:static;background:0 0!important;min-height:inherit!important;box-shadow:none}.router-outlet>ng-component internal-layout .footer-guest .mdl-grid{display:block;margin:0!important}.router-outlet>ng-component internal-layout .footer-guest .mdl-cell{display:block;margin:0!important;padding:0!important;width:auto!important}.router-outlet>ng-component internal-layout .custom-text-footer{display:block;padding:0}.router-outlet>ng-component internal-layout .custom-text-footer>p+div{display:block;width:280px;padding:30px;background:0 0!important}.router-outlet>ng-component internal-layout .custom-text-footer>p+div>p{margin-bottom:45px;text-align:center;font-size:18px;line-height:1.3;color:#333;font-weight:700}.router-outlet>ng-component internal-layout .custom-text-footer>p+div>p small{font-size:.9em}.router-outlet>ng-component internal-layout .custom-text-footer>p+div a{display:flex;text-align:center;padding:20px;background-color:#141C4C;color:#fff;text-transform:uppercase;font-weight:700;font-size:20px;line-height:1.2;height:120px;align-items:center;justify-content:center;border-radius:5px;transition:background-color .3s linear}.router-outlet>ng-component internal-layout .custom-text-footer>p+div a:hover{background-color:#141C4C}
    .is-loaded .mdl-layout__header-row.seven-internal-header.mdl-layout__header-row .seven-logo{text-align:left!important;padding-top:10px!important;}
    div.login-form .forgot-password {margin-bottom:0px!important;}