 @font-face{
    font-family: 'Calibre';
    src: url("fonts/WebFonts/CalibreWeb-Thin.woff") format("woff"),
            url("fonts/WebFonts/CalibreWeb-Thin.woff2") format("woff2"),
            url("fonts/WebFonts/CalibreWeb-Thin.eot") format("eot");
    font-weight: 200;
}

@font-face{
    font-family: 'Calibre';
    src: url("fonts/WebFonts/CalibreWeb-Light.woff") format("woff"),
            url("fonts/WebFonts/CalibreWeb-Light.woff2") format("woff2"),
            url("fonts/WebFonts/CalibreWeb-Light.eot") format("eot");
    font-weight: 300;
}

html{
    color: white;
    overflow: hidden;
}

body{
    color: white;
    font-family: 'Calibre';
    font-weight: 300;
    overflow: hidden;
}

header{
    background-color: #f3f3f3;
    color: #141B4D;
    padding: 20px 0px 10px 0;
    font-size: 19px;
}        

.widget_wrapper{
    display: flex;
}

.buttons{
    width: 36%;
}

.buttons a{
    flex-grow: 1;
    flex-basis:0;
    color: white;
}

.container{
    width: 100%;
    padding: 0px !important;
}

.contact {
    position: absolute;
    right: 0;
    height: 30px;
    display: inline-block;
    /* float: right; */
    color: #FFF;
    border: 1px solid #FFF;
    background-color: #141B4D;
    padding: 7px 15px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 100;
    text-transform: uppercase;
}
.contact svg{
    height: 100%;
    stroke: #FFF !important;
    stroke-width: 4 !important;
}

.contact:hover {
    color: #141B4D !important;
    border: 1px solid #141B4D;
    background-color: #FFF;
}
.contact:hover svg{
    stroke: #141B4D !important;
}

.contact:hover:focus span {
    color: #141B4D;
}
.contact:focus span {
    color: #FFF;
}

.contact span {
    float: left;
    margin-right: 12px;
}

.contact .mail {
    float: right;
    text-align: center;
    height: 100%;
}

.contact .mail svg {
    width: 21px;
    /* vertical-align: middle; */
}

.button{
    position: relative;
    flex-grow:1;
    flex-basis:0;
    width: 50%;
    height: 50%;
    float: left;
    align-items: center;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;

}

.button:hover .wrapper{
    text-decoration: underline;
}

.button img{
    margin-bottom: 20px;
}

.green{
    background-color: #32d1cd;
}

.green img{
    width : 72px;
}

.red{
    background-color: #fe817b;
}

.red img{
    width : 61px;
}

.blue{
    background-color: #387cbd;
}

.blue img{
    width: 98px;
}

.orange{
    background-color: #ffaf7e;
}

.orange img{
    width: 77px;
}

.item{
    background-size: 100% 100%;
    height: 385px;
}

.carousel-control{
    display: none;
}

.carousel-caption{
    position: relative;
    left: 0;
    bottom:0;
    padding: 290px 330px 0px 60px;
    text-shadow: none;
    text-align: left;
}

.carousel-caption p{
    font-size: 12px;
}

.carousel-caption h5{
    font-size: 24px;
}

.carousel-indicators{
    /* bottom: 95px;
    left: 60px; */
    bottom: 35px;
    right: 60px;
    left: inherit;
    margin: 0;
    width: auto;
}

.wrapper{
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

/*Icones de slides*/
.carousel-indicators li{
    width: 13px;
    height: 13px;
    margin: 1px 10px 1px 1px;
    border-color: #141A4D;
}

/*Etat actif*/
.carousel-indicators .active{
    width: 13px;
    height: 13px;
    margin: 1px 10px 1px 1px;
    background-color: #141A4D;
}

button{
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 16px;
    margin-top: 15px;
    transition: 0.2s;
    
    color: #141A4D;
    border-color: #141A4D;
}

button:hover{
    background-color: rgba(255,255,255,0.3);
    /* background-color: rgba(20,26,77,0.3);
    color: #FFF;
    border-color: #FFF; */
}

/* .item {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
} */

@media (min-width: 961px) and (max-width: 1200px){
    .carousel-caption{
        padding: 190px 210px 0px 60px;
    }
}

@media (max-width: 960px){
    .widget_wrapper{
        flex-direction: column;
    }
    
    .button{
        position: relative;
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    
    .button img{
        max-width: 60px;
        margin-bottom: 7px;
    }

    .item{
        background-size: cover;
        height: 280px;
    }

    .buttons{
        width: 100%;
        display: flex;
    }

    .wrapper{
        position: relative;
        display: flex;
    }

    .carousel-indicators{
        bottom: 230px;
        left: 40px;
    }

    .carousel-caption{
        padding: 55px 40px 0px 40px;
    }

    .carousel-caption h5{
        font-size: 21px;
    }
}