@font-face{
    font-family: 'Calibre';
    src: url("../../fonts/WebFonts/CalibreWeb-Thin.woff") format("woff"),
            url("../../fonts/WebFonts/CalibreWeb-Thin.woff2") format("woff2"),
            url("../../fonts/WebFonts/CalibreWeb-Thin.eot") format("eot");
    font-weight: 200;
}

@font-face{
    font-family: 'Calibre';
    src: url("../../fonts/WebFonts/CalibreWeb-Light.woff") format("woff"),
            url("../../fonts/WebFonts/CalibreWeb-Light.woff2") format("woff2"),
            url("../../fonts/WebFonts/CalibreWeb-Light.eot") format("eot");
    font-weight: 300;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Calibre';
    font-weight: 300;
}

.wrapper{
    display: flex;
    height: 290px;
    align-items: stretch;
    margin: 0;
    padding: 0;
    color: white;
    /* font-family: 'Open Sans'; */
    overflow: hidden;
}

.wrapper a{
    width: 75%;
}

.wrapper .main_button{
    background: url(https://remote.yesnyou.com/klepierre/lms-klepierre-css/widget_catalogue/images/fond-v5.jpg) no-repeat center center;
    width: 100%;
    background-size: cover;
    box-sizing: border-box;
    padding: 202px 53px 28px 42px;
    float: left;
    transition: 0.2s;
}

.wrapper .main_button:hover h2{
    text-decoration: underline;
} 

h2{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.sub_buttons{
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.button{
    text-align: center;
    position: relative;
    height: 50%;
}

.wrapper_button{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;
}

.wrapper_button:hover{
    text-decoration: underline;
}

@media (max-width: 480px){
    .wrapper{
        flex-direction: column-reverse;
    }
    .wrapper a{
        width: 100%;
        display: flex;
        flex-grow: 0;
        text-decoration: none;
    }
    .wrapper_button{
        position: relative;
        top:0;
        transform: none;
        width: 100%;
    }
    .button{
        height: auto;
        width: 100%;
    }
    .sub_buttons{
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        width: 100%;
        box-sizing: border-box;
    }

    .wrapper .main_button{
        padding: 63px 30px 47px 25px;
    }
}